<h2>POINTS INDEX</h2>

<% @points.each do |point| %>

	<p> Activity: <%= link_to(Activity.find(point.activity_id).activity, point_path(point.id)) %> || Points From: <%= point.voting_user_id %> || Points Given: <%= point.points %> || Comment: <%= point.comment %></p>
	
<% end %>

<h2>POINTS TOTALS</h2>
<h3>With Users</h3>

<p>figuire out later oye</p>