<h2>USERS INDEX</h2>

<% @users.each do |user| %>

	<p style="background-color: <%= cycle('rgba(192,192,192,.2)', 'rgba(192,192,192,.5)') %>" class="every_other">Name: <%= link_to(user.name, user) %> || Email: <%= user.email %></p>
	
<% end %>