/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'slick';
@import 'slick-theme';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Paytone+One);
body {
    font-family: 'Roboto', sans-serif;
    /*background: #eee;*/
}
.navbar-default {
    background-color: #2ecc71 !important;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-brand {
    color: white !important;
}
.icon-img img {
    height: 25px;
    border-radius: 0px;
    vertical-align: middle;
}
.slider {
    text-align: center;
    font-size: 2em;
    padding: 10px;
    border: 25px solid black;
    border-radius: 25px;
}
#title {
    float: right;
    font-family: 'Paytone One', sans-serif;
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 2em;
    letter-spacing: 20px;
}
#welcome {
    font-weight: bold;
}
.deadlink {
    pointer-events: none;
    cursor: default;
}
.thepad {
    padding: 10px;
}
.container {
    padding-bottom: 20px;
}
.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
}