/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bxslider
 *= require_tree .
 */

@import 'slick';
@import 'slick-theme';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Paytone+One);
body {
	font-family: 'Roboto', sans-serif;
  /*background: #eee;*/
	
}

.slider {

  text-align: center;
  font-size: 2em;
  padding: 10px;
  border: 25px solid black;
  border-radius: 25px;
}

#title {
  float:right;
  font-family: 'Paytone One', sans-serif;
  position: absolute;
  top:0px;
  right:10px;
  font-size:2em;
  letter-spacing: 20px;
  

}
#welcome {
  font-weight: bold;
  font-size: 1em;
}

/*NAV----*/
nav {
	background-color: rgba(46, 204, 113, 1);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
  position: fixed;
  top:0;
  left: 0;
  width: 100%;	
  z-index: 90000000;
}
nav ul {
  height: 100%;
}
nav li {
  padding-right: 10px;
	list-style: none;
  display: inline-block;
  height: 100%;  
}
nav li a { 
  text-decoration: none;
  transition: all .2s;
  font-weight: bold;
  
}
nav li a:hover {
	text-decoration: underline;
	color:white;
  font-size: 2em;
}
/*MAIN CONTAINER----*/
.container {
	max-width: 960px;
	margin:80px auto;
}

.container a {
  text-decoration: none;
  color: rgba(93, 173, 226, 1);
}
.container a:hover {
  text-decoration: underline;
  color: black;
  
}

/*CONTROLS FOR ACTVITIES----*/
.controls a {
  color: rgba(93, 173, 226, 1);
  text-decoration: none;
  font-weight: bold;
  transition: all .5;
}
.controls a:hover {
  text-decoration: underline;
  color: black;
}
.controls a::after {
  content: " | "
}

.comment h3 {
  text-decoration: underline;
}

.every_other {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.other_activities {
  padding: 5px;
  overflow: auto;
  height: 400px;
  /*background-color: rgba(46, 204, 113, 1);*/

  border-radius: 5px;
  border-bottom: 2px solid black;
  /*border-left: 2px solid black;
  border-right: 2px solid black;*/
}


/*FOOTER----*/
footer {
	background-color: black;
	color: #2ecc71;
	width: 100%;
	margin-top: 20px;
	position: fixed;
	bottom:0px;
	left: 0px; 
}
footer span {
	float: right;
}


/*FORM----*/
#container {
  max-width: 500px;
  margin: auto;
}
form {
  margin-bottom: 60px;
}
input,
textarea {
  font-size: 1em;
  color: #222;
  font-weight: 300; 
  width: 100%;
  border: none;
  height: auto;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all .2s;
}
select {
  background-color: #e8eeef;
  width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}
input:not(.btn):focus {
  color:rgba(46, 204, 113, 1);
  font-size: 2em;
}
label {
  display: block;
  margin-bottom: 0.5em; 
}
form {
  padding: 20px 24px;
  background: rgba(0,0,0,.01);
}
/*input[type="email"] {
  background: #fdfee6;
}*/
a[target="_blank"] {
  color: #39add1;
  text-decoration: none;
  border-bottom: 1px dotted;
}
.btn {
  cursor: pointer;
  font-size: .875em;
  font-weight: 400;
  color: #fff;  
  text-transform: uppercase;
  background-color: #2ecc71;
  margin-top:10px;
}
.btn:hover {
  background-color: #2eaa71;
}

/*ERRORS----*/
.error {
  background-color: #ff784f;
}
#errors {
	color:red;
	text-align: center;
	list-style: none;
}

/*MEDIA QUERIES - MOBILE*/

@media screen and (max-width: 765px) {

  html{text-align:center;}
  .container {
    margin:190px auto;
  }
  select, input, textarea {
    width: 100%;
  }
  #title {
  position:inherit;
  }

  nav {text-align:left;}
  nav li { margin-top: 5px;}
  nav ul li:nth-child(odd) {
    list-style: none;
    display: list-item;
    font-size:1em;
  }
  nav a { 
    text-decoration: none;
    font-weight: bold;
  
  }
  nav li a:hover {
    text-decoration: underline;
    color:white;
  }
  

}
  
