<h2>Activity: <%= @activity.activity %></h2>

<p>Person who preformed activity: <%= User.find(@activity.user_id).name %></p>

<% @all_points.each do |x| %>

	<p>Points: <%= x.points %> User Gave Points: <%= User.find(x.voting_user_id).name %></p>
	
<% end %>

